:root {
    /* CSS HEX */
    --light-sea-green: #00b0a2ff;
    --light-green: #a2ffa8ff;
    --midnight-green: #005672ff;
    --white: #ffffffff;
    --light-sky-blue: #85d3ffff;
    --antiflash-white: #ebebebff;
}

body {
    background-color: var(--midnight-green);
    text-align: center;
    margin: 0px;
}

.innerBox {
    margin: 20px;
    padding: 40px;
    background-color: var(--light-sky-blue);
    color: black;
    border: 20px solid var(--light-sea-green)
}

.outerBox {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
    padding: 40px;
    background-color: var(--light-green);
    border: 20px double var(--antiflash-white)
}
#intro {
    margin-bottom: 50px;
}