/* This is a comment about paragraphs */
p {
    color: blue;
    font-size: 20px;

}
h1 {
    /* bg color */
    background-color: aqua;
    border-width: 2px;
    border-color: aqua;
    border-style: dotted;
 }
 h3 {
    border: 2px solid red;
 }

 div {
    background-color: aqua;
    border: 5px double red;
    /* adding space inside */
    padding: 20px;
    padding-bottom: 100px;
    /* adding space outside */
    margin: 50px;
 }

 div:hover {
    background-color: chocolate;
    height: 400px;
    width: 200px;
    rotate: 45deg;
 }